
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #5769D4;
  overflow: hidden;
}


.register-box {
  display: flex;
  width: 1100px; 
  height: 650px; 
  background: white;
  border-radius: 24px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}


.register-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 40px;
  
  background: #3949AB;
  backdrop-filter: blur(12px);
  border-radius: 24px 0px 0px 24px;
} 

.register-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 24px;
  
  background: #FFFFFF;
  backdrop-filter: blur(12px);
  border-radius: 0px 24px 24px 0px;
  border: 1px solid #E6E9FA;
}